body {
  font-family: "Open Sans", sans-serif;
  background-color: #f6f9ff;
  color: #444444;
}

a.logo {
  text-decoration: none;
}

.logo span {
  font-size: 1.5rem;
  color: #012970;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

  .activity {
    font-size: 14px;

    .activity-item {
      .activite-label {
        color: #888;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 64px;

        &::before {
          content: "";
          position: absolute;
          right: -10px;
          width: 4px;
          top: 0;
          bottom: 0;
          background-color: #eceefe;
        }
      }

      .activity-badge {
        margin-top: 3px;
        z-index: 1;
        font-size: 11px;
        line-height: 0;
        border-radius: 50%;
        flex-shrink: 0;
        border: 3px solid #fff;
        flex-grow: 0;
      }

      .activity-content {
        padding-left: 10px;
        padding-bottom: 20px;
      }

      &:first-child {
        .activite-label::before {
          top: 5px;
        }
      }

      &:last-child {
        .activity-content {
          padding-bottom: 0;
        }
      }
    }
  }





// a.logo {
//   display: flex;
//   text-decoration: none;
//   margin-bottom: 0;
// }

// .form-control.input_with_errors {
//   border: solid 1px $danger;
// }