<%= turbo_stream.append_all "body" do %>
  <div class="modal fade" id="userModal" data-controller="dialog" data-turbo-temporary>
    <div class="modal-dialog">
      <div class="modal-content">
        <%= turbo_frame_tag "user-form-frame", src: new_user_path %>
      </div>
    </div>
  </div>
<% end %>